#footer {
    padding-top: 180px;
    background-color: #F8F8F8;
}
.footer {
    display: flex;
    justify-content: space-between;
}
.footer-logo {
    width: 340px;
}
.footer-logo-span {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}
.footer-logo-span span {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #0B132A;
}

.footer-logo p{
    width: 340px;
    padding-bottom: 30px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.footer h5 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
    padding-bottom: 20px;
}
.footer li {
    padding-bottom: 10px;
}
.footer li a {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}
