
.map {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.map h2 {
    width: 383px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
}
.map p {
    width: 555px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
    padding-bottom: 155px;
}
.map p >span {
    font-weight: 450;

}