.result {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 10px 20px;
    background: #FFFFFF;
}
.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 95px;
    padding-top: 45px;
    padding-bottom: 45px;
}
.result hr {
    width: 80%;
    color:#EEEFF2;
}
.result-mini{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.result-mini h5 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #0B132A;
}
.result-mini p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #4F5665;
}